@import url('https://fonts.googleapis.com/css2?family=ZCOOL+KuaiLe&display=swap');

@font-face {
  font-family: 'cafe24';
  src: url('../font/Cafe24Supermagic-Bold-v1.0.otf') format('truetype');
  font-weight: 700px;
}

* {
  box-sizing: border-box;
  margin: 0;
}

.containar {
  position: relative;
  width: 480px;
  max-height: 100vh;
  margin: 0 auto;
}

.main-img {
  width: 480px;
  max-height: 100vh;
}

/*메인 페이지*/
#main-page-quiz {
  width: 109px;
  height: 44px;
  background-color: yellow;
  border-radius: 50%;
  position: absolute;
  top: 315px;
  left: 186px;
}

#main-page-quiz-p {
  font-family: 'ZCOOL KuaiLe', sans-serif;
  font-size: 24px;
  color: black;
  text-align: center;
  position: absolute;
  top: 8px;
  left: 28px;
}

#main-page-p1 {
  font-family: 'cafe24', serif;
  position: absolute;
  top: 380px;
  left: 40px;
  width: 400px;
  color: white;
  text-align: center;
  font-size: 48px;
}

#main-page-p2 {
  font-family: 'cafe24', serif;
  position: absolute;
  top: 551px;
  left: 40px;
  width: 400px;
  color: white;
  text-align: center;
  font-size: 24px;
}

#main-page-startBtn a {
  font-family: 'cafe24', serif;
  cursor: pointer;
  color: #fafd04;
  font-size: 32px;
  text-decoration: underline;
  position: absolute;
  top: 715px;
  left: 187px;
}

#main-flower-1 {
  position: absolute;
  top: 951px;
  left: 39px;
  border: 4px;
}

#main-flower-2 {
  position: absolute;
  top: 135px;
  left: 368px;
  border: 4px;
}

#main-flower-3 {
  position: absolute;
  top: 0px;
  left: 319px;
}

/*퀴즈*/
#progress_bar {
  width: 412px;
  height: 8px;
  position: absolute;
  top: 80px;
  left: 34px;
  border-radius: 4px;
}

::-webkit-progress-bar {
  border-radius: 4px;
  background-color: #FFFFFF(0, 0, 0, 0.6);
}

::-webkit-progress-value {
  background-color: #fafd04;
  border-radius: 4px;
}

#question-page-quiz {
  font-family: 'ZCOOL KuaiLe', sans-serif;
  width: 109px;
  height: 44px;
  position: absolute;
  top: 205px;
  left: 186px;
  background-color: yellow;
  border-radius: 50%;
  color: black;
  font-size: 24px;
  text-align: center;
  padding-top: 9px;
}

#question-page-qustion {
  /*문제 나오는 곳*/
  font-family: 'cafe24', serif;
  width: 432px;
  position: absolute;
  top: 310px;
  left: 24px;
  font-size: 48px;
  color: white;
  text-align: center;
}

#question-page-yesBtn {
  /* 예 버튼*/
  font-family: 'cafe24', serif;
  cursor: pointer;
  position: absolute;
  top: 575px;
  left: 24px;
  width: 204px;
  height: 87px;
  border-radius: 8px;
  border: 2px solid white;
  background-color: #48ff9180;
  color: white;
  font-size: 32px;
}

#question-page-noBtn {
  /*아니요 버튼*/
  font-family: 'cafe24', serif;
  cursor: pointer;
  position: absolute;
  top: 575px;
  left: 252px;
  width: 204px;
  height: 87px;
  border-radius: 8px;
  border: 2px solid white;
  background-color: #ff3c3c80;
  color: white;
  font-size: 32px;
}

#question-page-description {
  /*해설*/
  font-family: 'cafe24', serif;
  position: absolute;
  top: 548px;
  left: 96px;
  width: 288px;
  height: 116px;
  font-size: 24px;
  color: white;
  font-weight: 29.28px;
  text-align: center;
}

#question-page-nextBtn-1 {
  font-family: 'cafe24', serif;
  cursor: pointer;
  position: absolute;
  top: 968px;
  padding: 24px, 184px, 49px, 184px;
  width: 480px;
  height: 112px;
  background-color: black;
  color: #fafd04;
  font-size: 32px;
  border: 0;
}

#question-page-lastBtn-1 {
  font-family: 'cafe24', serif;
  cursor: pointer;
  position: absolute;
  top: 968px;
  padding: 24px, 184px, 49px, 184px;
  width: 480px;
  height: 112px;
  background-color: black;
  color: #fafd04;
  font-size: 32px;
  border: 0;
}

/*마지막 페이지*/
#last-page-quiz {
  width: 109px;
  height: 44px;
  position: absolute;
  top: 202px;
  left: 186px;
  background-color: yellow;
  border-radius: 50%;
}

#last-page-quiz-p {
  font-family: 'ZCOOL KuaiLe', sans-serif;
  color: black;
  font-size: 24px;
  text-align: center;
  position: absolute;
  top: 202px;
  left: 186px;
}

#last-page-quiz-p {
  top: 10px;
  left: 32px;
}

#last-page-lastment {
  font-family: 'cafe24', serif;
  width: 432px;
  position: absolute;
  top: 310px;
  left: 24px;
  font-size: 48px;
  color: white;
  text-align: center;
}

#last-page-ment-p1 {
  font-family: 'cafe24', serif;
  width: 432px;
  position: absolute;
  top: 450px;
  left: 24px;
  font-size: 48px;
  color: white;
  text-align: center;
}

#last-page-ment-p2 {
  font-family: 'cafe24', serif;
  width: 432px;
  position: absolute;
  top: 500px;
  left: 24px;
  font-size: 48px;
  color: white;
  text-align: center;
}

#new_start_a {
  font-family: 'cafe24', serif;
  cursor: pointer;
  width: 382px;
  height: 39px;
  font-size: 32px;
  color: #fafd04;
  text-decoration: underline;
  position: absolute;
  top: 774px;
  left: 49px;
  text-align: center;
}
